.iconButton{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: #F3FCFF;
}
/* .iconButton img {
  width: 24px;
  height: 24px;
} */
.iconButton:hover{
  background-color: #c7c5f0;
}
