.formLogin {
  background-color: #fafafa;
  width: 100%;
  padding: 40px 32px;
  border-radius: 30px;
}
.formLogin h2 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 40px;
}
.formLogin fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.formLogin .buttonWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
