.emptyState {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainGeneralLayout {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
}
.birthdateSection {
  border-radius: 8px;
  border: 2px solid #0400aa;
  height: fit-content;
}
.usersWrapper {
  height: calc(10 * 50px);
  overflow-y: scroll;
}
.usersWrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.usersWrapper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #8683EA;
}
.usersWrapper::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.headerBirthdate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 8px;
  border-bottom: 2px solid #0400aa;
}
.mainGeneralLayout h3 {
  font-size: 18px;
  font-weight: bolder;
}
.birthdateSection .birthdateMember {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 18px;
  padding: 16px 8px;
  align-items: center;
}
.birthdateSection .birthdateMember div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.birthdateMember > .userName {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.birthdateMember i {
  justify-self: end;
}
.birthdateMember i.fa-calendar-check {
  color: #8683EA;
}
.birthdateMember i.fa-calendar-day {
  color: #00b147;
}


