.multiSelect {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.multiSelect {
  position: relative;
  display: flex;
  width: 100%;
}
.multiSelect input{
  width: 100%;
  padding-left: 24px;
}
.multiSelect i {
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 13px;
}

.multiSelect select {
  padding-left: 24px;
}
.resultsWrapper {
  position: relative;
  display: flex;
  width: 100%;
}
.resultsChoosed{
  display: flex;
  width: 92%;
  overflow-x: scroll;
  min-height: 24px;
}
.resultsChoosed::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.resultsChoosed::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #666;
}
.resultsChoosed::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.resultsChoosed::-webkit-scrollbar-corner {
  background-color: transparent;
}

.optionItem {
  padding: 3px 8px;
  border-radius: 4px;
  flex-wrap: nowrap;
  margin-right: 8px;
  background-color: #D6F2FB;
  cursor: pointer;
}
.optionItem p {
  font-size: 18px;
}
.optionItem:hover {
  color: #7C0404;
  background-color: #84060620;
}
.clearAll{
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 0;
}
.clearAll:hover {
  color: #7C0404;
}

.orderBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
