.searchInput {
  position: relative;
  display: flex;
  width: 100%;
}
.searchInput input{
  width: 100%;
  padding-left: 24px;
}
.searchInput i {
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 13px;
}
