.createUserForm .formGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 16px;
  margin-bottom: 16px;
}
.createUserForm label{
  padding-bottom: 8px;
  font-size: 18px;
}
.createUserForm fieldset{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.createUserForm .notesTextarea{
  min-height: 80px;
}
.createUserForm .addressTextarea{
  min-height: 40px;
}
.createUserForm .flexRowDisplay{
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.createUserForm .flexRowDisplay > label{
  padding: 0;
  margin-left: 16px;
}
.createUserForm .leaderField {
  margin-left: 40px;
}
.createUserForm .buttonWrapper {
  display: flex;
  justify-content: center;
}
.createUserForm .flexColumnDisplay{
  margin-top: 16px;
}
