.pageTitle{
  display: flex;
  flex-direction: column;
  color: #840606;
  font-size: 36px;
  font-weight: 600;
  width: fit-content;
  cursor: default;
  margin: 40px 0;
}
.pageTitle::after{
  content: "";
  margin-top: 3px;
  height: 4px;
  width: 0;
  transition: 0.8s ease-out;
  background-color: #840606;
}
.pageTitle:hover::after{
  width: 100%;
  transition: 0.8s ease-in;
}

