.modal-dialog {
  /* max-width: 800px !important; */
  margin-top: 100px !important;
}
.modal-title{
  font-size: 24px;
  font-weight: bolder;
}
.description {
  font-size: 18px;
  line-height: 24px;
  padding-top: 8px;
}
.description b {
  font-weight: bolder;
}
.subtitle {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 8px;
  padding-top: 4px;
}
.modal-body .checkboxGrantAccess {
  display: flex;
  padding: 16px 0;
  align-items: center;
}
.modal-body div > label{
  margin-left: 8px;
  font-size: 18px;
}
.modal-body .multiSelectWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
}
.ministeryManagement fieldset {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
.ministeryManagement label {
  font-size: 18px;
  margin-bottom: 4px;
}
.ministeryManagement textarea {
  height: 80px;
}
.churchManagement fieldset {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
.churchManagement label {
  font-size: 18px;
  margin-bottom: 4px;
}
.churchManagement textarea {
  height: 80px;
}
.churchManagement .checkboxMatriz{
  display: flex;
  padding: 16px 0;
  align-items: center;
  flex-direction: row;
}
.checkboxMatriz label{
  margin: 0;
  margin-left: 8px
}

