.chartMainLayout h3 {
  padding-top: 16px;
}
.chartMainLayout {
  height: fit-content;
  border-radius: 8px;
  border: 2px solid #0400aa;
  padding: 8px 16px;
}
.chartMain {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  /* gap: 8px; */
}
.actionsProselyteGraph {
  display: flex;
  gap: 8px;
}
canvas {
  max-width: 100%;
  max-height: 470px;
  padding-top: 24px;
}

